/* OTP PAGE */
.otp h2 {
  color: #1d1d1d;
  margin-bottom: 30px;
}
.otp p {
  color: #1d1d1d;
}
.otp p {
  color: #1d1d1d;
}
.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
}
.card {
  width: 100%;
  padding: 10px;
  height: 400px;
  border: none;
  background-color: transparent;
}

.btn-primary {
  background: #1d1d1d;
  color: #adadad;
  border-color: #1d1d1d;
}
.btn-primary:hover {
  background: transparent;
  color: #1d1d1d;
}
.btn-secondary {
  background: #1d1d1d;
  color: #adadad;
  border-color: none;
  margin-right: 20px;
}
.btn-secondary:hover {
  background: #1d1d1d;
  color: #adadad;
}


/* homepage and loginpage */
.home_container {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-top: 100px;
}

.home_logo > h2{
  font-weight: bold;
}

.primary-color {
  color: #E040FB;
}

.home_text {
  width: 30%;
  padding: 0px 15px;
}

.main_body {
  margin-top: 70px;
}

.main_body > h4 {
  font-weight: lighter;
  font-size: 19px;
}

.buttons_container {
  padding: 0px 15px;
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}


.custom-file-upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
  background-color: #E040FB;

}
.img1{

  display: flex;
  align-content: center;
  justify-content: center;
}

.background{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* sign & signup*/
.siginPage .sigin-card{
  margin-top: 30%;
  width: 80%;
  padding: 40px;
  border-radius: 20px;;
  box-shadow: 2px 2px 15px 2px #5C7AEA;
  
}



.siginPage .headerlogo{
  margin-left:30px;
  margin-top:30px;
  padding:10px;
  text-align: center;
  width: max-content;
  height: max-content;
  background-color: #14279B;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px #14279B;
}
.siginPage .headerlogo:hover{
  cursor:pointer
}

.siginPage .headerlogo h3{
  color:white;
  font-weight: bold;
}

.siginPage .headerlogo h4{
  color:white;
  font-weight: bold;
}

.siginPage .sigin-card .card-header{
  padding:auto;
  align-self: center;
  background-color: transparent;
  border:none;
  border-color: transparent;
}

.siginPage .sigin-card .card-header h3{
  color: #14279B;
  font-weight: bold;
}

.siginPage .sigin-card input{
  margin-bottom: 7px;
  border-color:#14279B;
  border-radius: 2px;
  border-width: 2px;
  padding: 10px;
  width: 100%;
}
.siginPage .sigin-card input:target{
  border:2px solid #14279B;
  text-decoration: none;
}

.siginPage .sigin-card label{
  font: 1em sans-serif;
  margin: 7px;
  color: #14279B;
  font-weight: bold;
  
}
.siginPage .sigin-card .buttonSignup{
  text-align: center;
}
.siginPage .sigin-card button{
  width: 100px;
  margin-top: 5px;
  text-align: center;
}
.siginPage .sigin-card .signupbtn{
  text-align: center;
  height: 40px;
  margin-top: 30px;
  transition: 0.8s ease;
  background-color: #14279B;
  color: #E6E6E6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}
.siginPage .sigin-card .signupbtn:hover{
 
  transition: 0.8s ease;
  background-color: #E6E6E6;
  color: #14279B;
  font-weight: bold;
  border: 1px solid #14279B;
}
.siginPage .sigin-card .sigininContent{
  width: 100%;
  text-align: center;
}
.siginPage .sigin-card .sigininContent a{
  color: #14279B;
  text-decoration: none;
  padding: auto;
}

.signupPage{
  margin-top: 10% !important;
}

/* homepage*/
.homeContent{
  padding: 10%;
}
.homebutton{
  text-align: center;
  height: 40px;
  transition: 0.8s ease;
  background-color: #14279B;
  color: #E6E6E6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}
.homebutton:hover{
  transition: 0.8s ease;
  background-color: #E6E6E6;
  color: #14279B;
  font-weight: bold;
  border: 1px solid #14279B;
}
.homeContent{
  width: 100%;
}
.homeContent h2{
  color: #3D56B2;
}
.homeContent .paragraph{
  color: #818181;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}

.homePage .homeContent button{
  text-align: center;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.8s ease;
  background-color: #14279B;
  color: #E6E6E6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
  
}
.homePage .homeContent button:hover{
  transition: 0.8s ease;
  background-color: #E6E6E6;
  color: #14279B;
  font-weight: bold;
  border: 1px solid #14279B;
}


.homeContent a{
  color: #14279B;
  text-decoration: none;
}

.homeCircle{
  position: fixed;
    bottom: 0;
    right: 0;
    width:50%;
    height: 50%;
    border-radius: 10px;
}

/* OTP */
.siginPage .otp-card{
  margin-top: 15%;
  width: 80%;
  padding: 40px;
  border-radius: 20px;;
  box-shadow: 2px 2px 15px 2px #5C7AEA;
  text-align: center;
  
}
.siginPage .otp-card .card-header{
  padding:auto;
  align-self: center;
  background-color: transparent;
  border:none;
  border-color: transparent;
}
.siginPage .otp-card .card-header h3{
  color: #14279B;
}

.siginPage .otp-card .otpbutton{
  text-align: center;
  height: 40px;
  width: 100px;
  margin:5px;
  transition: 0.8s ease;
  background-color: #14279B;
  color: #E6E6E6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;

}
.siginPage .otp-card .otpbutton:hover{
 
  transition: 0.8s ease;
  background-color: #E6E6E6;
  color: #14279B;
  font-weight: bold;
  border: 1px solid #14279B;
}

.siginPage .otp-card .paragraph{
  color:  #14279B;
}

.otp-field{
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 5px;
  border: 2px solid #14279B;
  margin-bottom: 15px;
  color: #14279B;
  font-weight: bolder;
  font-size: 25px;
}
.otp-field:focus {
  background-color: transparent;
  border: 3px solid #14279B;
  outline: 0;
  box-shadow: none;
  color: #14279B;
  font-weight: bolder;
}



.dummyClass{
  display: none;
  color: #14279B;
  color: #3D56B2;
  color: #5C7AEA;
  color: #E6E6E6;

}