.row {
  margin: 0;
  padding: 0;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 50px;
}

.has-search .form-control-feedback {
  padding-left: 10px;
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.post-btn {
  height: 40px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.8s ease;
  background-color: #14279b;
  color: #e6e6e6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}
.post-btn:hover {
  transition: 0.8s ease;
  background-color: #e6e6e6;
  color: #14279b;
  font-weight: bold;
  border: 1px solid #14279b;
}
.post-btn:focus {
  transition: 0.8s ease;
  background-color: #e6e6e6;
  color: #14279b;
  font-weight: bold;
  border: 1px solid #14279b;
}

.profile-img {
  width: 60px;
}

.profile-img .img {
  height: 50px;
  width: 50px;
  background-color: #8d8d8d;
  border-radius: 50px;
}

.profile-img .img img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.post p {
  font-size: 14px;
  margin-top: 10px;
}

.post i {
  color: #8d8d8d;
  font-size: 20px;
  margin: 5px;
}

.create {
  height: 400px;
  border: 4px solid #14279b;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 2px 2px 15px 2px #5c7aea;
}

.create textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 30px;
  border-radius: 5px;
  width: 100%;
  height: 320px;
  resize: none;
}

.create textarea:focus {
  background-color: #e6e6e6;
  outline: none;
}

.create i {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 15px;
  color: #14279b;
  cursor: pointer;
}

.create-post button {
  width: 100px;
  text-align: center;
  height: 40px;
  margin-top: 30px;
  transition: 0.8s ease;
  background-color: #14279b;
  color: #e6e6e6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}
.create-post button:hover {
  transition: 0.8s ease;
  background-color: #e6e6e6;
  color: #14279b;
  font-weight: bold;
  border: 1px solid #14279b;
}
.create-post button:focus {
  transition: 0.8s ease;
  background-color: #e6e6e6;
  color: #14279b;
  font-weight: bold;
  border: 1px solid #14279b;
}

.create-post .tags-input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.create-post .tags-input:focus {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.create-post .tag {
  background-color: #8d8d8d;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.timelineBar .timelineButton {
  text-align: center;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.8s ease;
  background-color: #14279b;
  color: #e6e6e6;
  font-size: 14px;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}

.timelineBar .timelineButton:hover {
  transition: 0.8s ease;
  background-color: #e6e6e6;
  color: #14279b;
  font-weight: bold;
  border: 1px solid #14279b;
}

.title {
  margin-top: 0;
  margin-left: 0;
  background-color: #14279b;
  padding: 10px;
  width: 170px;
  height: 40px;
  text-align: center;
}

.title .text {
  color: #e6e6e6;
  font-weight: bold;
}

.hot-topic {
  width: 250px;
  height: 100px;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  margin-top: 10px;
}
.hot-topic h4 {
  font-size: 18px;
  margin: 5px;
  color: #14279b;
}

.hot-topic p {
  font-size: 14px;
  margin-left: 10px;
  color: #3b3b3b;
}

.post {
  width: 600px;
  padding: 20px;
  border: none !important;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #e6e6e6;
}

.post h4 {
  color: #3d56b2;
  margin: 0;
  padding: 0;
}

.post h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.carousel * {
  border-radius: 5px;
  text-align: center;
}
.carousel p {
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
}

.dropbtn {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
}

.dropbtn i {
  padding-top: 10px;
  background-color: transparent;
  font-size: 20px;
  color: #e6e6e6;
}
.dropbtn i:hover {
  transition: 0.8s ease;
  background-color: transparent;
  color: white;
}

.dropbtn {
  background-color: #14279b;
  border-radius: 50px;
}

.dropdown {
  right: 0;
  top: 0;
  margin-right: 20px;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6e6e6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #14279b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  transition: 0.8s ease;
  background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transition: 0.8s ease;
  background-color: #14279b;
}

.dummyClass {
  display: none;
  color: #14279b;
  color: #3d56b2;
  color: #5c7aea;
  color: #e6e6e6;
}

.text-bg-secondary {
  background-color: #aaa;
  cursor: pointer;
}
